<!DOCTYPE html>
<html lang="vi" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="../static/style.css">
    <title>ScamCheck</title>
    
</head>
<body>

<div class="form-container">
    <h2>Scam Checker</h2>
    <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">            
        <p>Do you know this number?</p>
        <div style="display: flex; gap: 20px;">
            <input type="radio" name="number" value="Yes"> Yes
            <input type="radio" name="number" value="No"> No
            <input type="radio" name="number" value="Forgot"> I don't remember
        </div>
        <p>Do you know this agency/company?</p>
        <div style="display: flex; gap: 20px;">
            <input type="radio" name="company" value="Yes"> Yes
            <input type="radio" name="company" value="No"> No
            <input type="radio" name="company" value="Forgot"> I'm not sure
        </div>
        <p>What platform are you using?</p>
        <div>
            <input type="radio" name="platform" value="Zalo"> Zalo
            <input type="radio" name="platform" value="WhatsApp"> WhatsApp
            <input type="radio" name="platform" value="iMessage"> iMessage
            <input type="radio" name="platform" value="Messenger"> Messenger/Facebook
            <input type="radio" name="platform" value="Instagram"> Instagram
            <input type="radio" name="platform" value="other"> Other
        </div>
        <div class="input-group">
            <label for="message">Dán tin nhắn vào đây</label>
            <input type="text" id="message" name="message" placeholder="Tin nhắn">
        </div>
        <div class="input-group">
            <label for="image">Bỏ ảnh vào đây</label>
            <input type="file" id="image" name="scam_image" accept="image/*">
        </div>
        <button type="submit">Submit</button>
    </form>
    
</div>

</body>
</html>
